<div class="ui checkbox">
    <input
            type="checkbox"
            [checked]="todo.done"
            (change)="toggle()">
    <label [ngClass]="{done: todo.done}">
        {{ todo.title }}
    </label>
</div>

<button
        type="button"
        class="ui red icon button"
        (click)="deleteTodo()">
    <i class="trash outline icon"></i>
</button>